In [1]:
!pip install pandas
import pandas as pd
%matplotlib inline
!pip install matplotlib
from matplotlib import pyplot as plt

Requirement already satisfied: pandas in /home/willow/.local/lib/python3.8/site-packages (1.5.2)
Requirement already satisfied: pytz>=2020.1 in /home/willow/.local/lib/python3.8/site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/willow/.local/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.20.3; python_version < "3.10" in /home/willow/.local/lib/python3.8/site-packages (from pandas) (1.22.3)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.1->pandas) (1.14.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.8/dist-packages (3.5.2)
Requirement already satisfied: pillow>=6.2.0 in /usr/lib/python3/dist-packages (from matplotlib) (7.0.0)
Requirement already satisfied: numpy>=1.17 in /home/willow/.local/lib/python3.8/site-packages (from matplotlib) (1.22.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib) (1.4.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib) (0.11.0)
Requirement already satisfied: python-dateutil>=2.7 in /home/willow/.local/lib/python3.8/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib) (4.33.3)
Requirement already satisfied: packaging>=20.0 in /home/willow/.local/lib/python3.8/site-packages (from matplotlib) (21.3)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/lib/python3/dist-packages (from matplotlib) (2.4.6)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.7->matplotlib) (1.14.0)

In [5]:
from sklearn.metrics import mean_squared_error

In [3]:
!pip install scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.2.1-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (9.8 MB)
     |████████████████████████████████| 9.8 MB 7.3 MB/s eta 0:00:01
Collecting joblib>=1.1.1
  Downloading joblib-1.2.0-py3-none-any.whl (297 kB)
     |████████████████████████████████| 297 kB 15.2 MB/s eta 0:00:01
Requirement already satisfied: scipy>=1.3.2 in /home/willow/.local/lib/python3.8/site-packages (from scikit-learn) (1.10.0)
Collecting threadpoolctl>=2.0.0
  Downloading threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Requirement already satisfied: numpy>=1.17.3 in /home/willow/.local/lib/python3.8/site-packages (from scikit-learn) (1.22.3)
Installing collected packages: joblib, threadpoolctl, scikit-learn
Successfully installed joblib-1.2.0 scikit-learn-1.2.1 threadpoolctl-3.1.0

In [8]:
df_pm = pd.read_csv('8-3-2023  -  10-37.csv',delimiter=',',header='infer')

In [9]:
df_pm = df_pm.dropna(axis=1, how='any')

In [10]:
df_pm

,DateTime,Fidas 200 PM2.5,SPS30 PM2.5,SEN55 PM2.5,HPMA115 PM2.5,NextPM PM2.5,SDS011 PM2.5
0,2023-3-8 10:37:22,0.68,0,0,0,0,0.7
1,2023-3-8 10:37:28,0.68,0,0,0,0,1.0
2,2023-3-8 10:37:33,0.68,0,0,0,0,1.0
3,2023-3-8 10:37:39,0.68,0,0,0,0,0.9
4,2023-3-8 10:37:45,0.68,0,0,0,0,0.8
...,...,...,...,...,...,...,...
537,2023-3-8 11:27:29,0.26,0,0,0,0,0.4
538,2023-3-8 11:27:35,0.26,0,0,0,0,0.5
539,2023-3-8 11:27:40,0.26,0,0,0,0,0.5
540,2023-3-8 11:27:47,0.26,0,0,0,0,0.4
541,2023-3-8 11:27:52,0.26,0,0,0,0,0.5

In [23]:
df_pm = df_pm.drop(['SPS30 PM2.5','SEN55 PM2.5',' HPMA115 PM2.5',' NextPM PM2.5'], axis=1)

KeyError: "['SPS30 PM2.5', 'SEN55 PM2.5', ' HPMA115 PM2.5', ' NextPM PM2.5'] not found in axis"

In [20]:
df_pm.drop(' HPMA115 PM2.5', axis=1)

,DateTime,Fidas 200 PM2.5,SPS30 PM2.5,SEN55 PM2.5,NextPM PM2.5,SDS011 PM2.5
0,2023-3-8 10:37:22,0.68,0,0,0,0.7
1,2023-3-8 10:37:28,0.68,0,0,0,1.0
2,2023-3-8 10:37:33,0.68,0,0,0,1.0
3,2023-3-8 10:37:39,0.68,0,0,0,0.9
4,2023-3-8 10:37:45,0.68,0,0,0,0.8
...,...,...,...,...,...,...
537,2023-3-8 11:27:29,0.26,0,0,0,0.4
538,2023-3-8 11:27:35,0.26,0,0,0,0.5
539,2023-3-8 11:27:40,0.26,0,0,0,0.5
540,2023-3-8 11:27:47,0.26,0,0,0,0.4
541,2023-3-8 11:27:52,0.26,0,0,0,0.5

In [24]:
df_pm

              DateTime  Fidas 200 PM2.5   SDS011 PM2.5
0    2023-3-8 10:37:22             0.68            0.7
1    2023-3-8 10:37:28             0.68            1.0
2    2023-3-8 10:37:33             0.68            1.0
3    2023-3-8 10:37:39             0.68            0.9
4    2023-3-8 10:37:45             0.68            0.8
..                 ...              ...            ...
537  2023-3-8 11:27:29             0.26            0.4
538  2023-3-8 11:27:35             0.26            0.5
539  2023-3-8 11:27:40             0.26            0.5
540  2023-3-8 11:27:47             0.26            0.4
541  2023-3-8 11:27:52             0.26            0.5

[542 rows x 3 columns]

In [26]:
df_pm['DateTime'] = pd.to_datetime(df_pm.DateTime)

In [27]:
df_pm

               DateTime  Fidas 200 PM2.5   SDS011 PM2.5
0   2023-03-08 10:37:22             0.68            0.7
1   2023-03-08 10:37:28             0.68            1.0
2   2023-03-08 10:37:33             0.68            1.0
3   2023-03-08 10:37:39             0.68            0.9
4   2023-03-08 10:37:45             0.68            0.8
..                  ...              ...            ...
537 2023-03-08 11:27:29             0.26            0.4
538 2023-03-08 11:27:35             0.26            0.5
539 2023-03-08 11:27:40             0.26            0.5
540 2023-03-08 11:27:47             0.26            0.4
541 2023-03-08 11:27:52             0.26            0.5

[542 rows x 3 columns]